/dist
node_modules
.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Release Tooling
ios/App/vendor
ios/App/fastlane/report.xml
ios/App/fastlane/README.md
ios/App/build
