/dist
node_modules
.DS_Store
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Release Tooling
/vendor
fastlane/report.xml
fastlane/README.md
/build

# Keep repo neat when building locally
*.app
*.app.dSYM.zip
*.pkg
