html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

iframe {
  width: 100vw;
  height: calc( 100vh - env(safe-area-inset-top) );
  margin-top: env(safe-area-inset-top);
  border: 0;
}
