html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  margin-top: env(safe-area-inset-top);
  height: calc(100% - env(safe-area-inset-top));
}

body,
#app {
  height: 100%;
}

#select {
  position: absolute;
  top: 0;
  width: 100%;
  height: env(safe-area-inset-top);
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 4px;
}
