html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
}

iframe {
  width: 100vw;
  height: calc( 100vh - env(safe-area-inset-top) );
  margin-top: env(safe-area-inset-top);
  border: 0;
  background-color: #fff;
}

.loading .loader-line {
  width: 100%;
  height: 2px;
  position: fixed;
  top: env(safe-area-inset-top);
  z-index: 1;
  pointer-events: none;
}

.loading .loader-line:before {
  content: "";
  position: absolute;
  left: -50%;
  height: 2px;
  width: 40%;
  background-color: #3858e9;
  -webkit-animation: lineAnim 1s linear infinite;
  -moz-animation: lineAnim 1s linear infinite;
  animation: lineAnim 1s linear infinite;
}

@keyframes lineAnim {
  0% {
    left: -40%;
  }
  50% {
    left: 20%;
    width: 80%;
  }
  100% {
    left: 100%;
    width: 100%;
  }
}