html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif
}

* {
  box-sizing: border-box;
}

html {
  /* margin-top: env(safe-area-inset-top); */
  height: 100%;
}

body,
#app {
  height: 100%;
}

#start {
  padding: 1px 1em 1px;
  max-width: 600px;
  margin: env(safe-area-inset-top) auto 0;
  font-size: 1em;
}

#sidebar {
  position: absolute;
  top: env(safe-area-inset-top);
  width: 300px;
  bottom: 0;
  overflow-y: auto;
  overscroll-behavior: none;
  word-break: break-all;
}

.dataviews-filters__view-actions {
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index: 1;
}

.dataviews-wrapper .dataviews-filters__view-actions {
  display: none;
}

.dataviews-filters__container {
  row-gap: 0 !important;
}

#sidebar-bottom {
  position: sticky;
  bottom: 0;
  padding: 7px;
  border-top: 1px solid #e0e0e0;
  padding-bottom: calc(env(safe-area-inset-bottom) + 7px);
}

.dataviews-wrapper {
  min-height: 100%;
}

.dataviews-view-list__item-wrapper {
  display: block !important;
}

.dataviews-view-list__item[aria-pressed="true"] {
  background-color: #3858e9;
  color: white;
}

.dataviews-view-list__item {
  padding: 10px 7px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.dataviews-view-list__item > div {
  display: block !important;
}

ul.dataviews-view-list {
  padding: 7px;
  margin: 0;
  list-style: none;
}

ul.dataviews-view-list li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.dataviews-view-table {
  padding: 7px
}

.dataviews-view-list__field {
  text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#content {
  height: 100%;
  background: white;
  position: relative;
  z-index: 1;
}

#select {
  position: absolute;
}

.select-toolbar {
  top: 0;
  width: 100%;
  height: calc( env(safe-area-inset-top) + 47px );
  display: flex;
  justify-content: start;
  align-items: end;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  z-index: 1;
  overflow-x: auto;
}

#select-right {
  margin-left: auto;
}

.notes-tag {
  background: #444;
  color: white;
  padding: 2px 3px;
  border-radius: 2px;
  margin: 2px 3px 2px 0;
  display: inline-block;
}

.block-editor-block-contextual-toolbar {
  position: static;
  width: auto;
}

.block-editor-block-toolbar .components-toolbar-group, .block-editor-block-toolbar .components-toolbar {
  margin: 0;
}

#block-toolbar {
  display: flex;
  flex-shrink: 0;
}

.select-toolbar .components-toolbar {
  border-color: #e0e0e0;
  border-width: 0 1px 0 0;
  background-color: transparent;
}

#editor > div {
  display: block !important;
}

#editor.has-overlay::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.block-editor-iframe__container,
.block-editor-iframe__scale-container {
  height: 100%
}

iframe[name="editor-canvas"] {
  display: block;
  background-color: transparent;
}

.components-button.components-menu-item__button.is-active {
  background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
  color: white;
}

.select-toolbar,
.dataviews-filters__view-actions,
#sidebar-bottom,
/* .is-unstyled ? */
.components-dropdown__content div.components-popover__content {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.85);
}

.components-dropdown__content div.components-popover__content {
  box-shadow: none;
  border: 1px solid #e0e0e0;
}

.select-toolbar .blocknotes-select button {
  padding-right: 1em;
}

.select-toolbar button.components-button:not(.is-small) {
  font-size: 16px;
  height: 46px;
}

.select-toolbar .components-toolbar-group {
  min-height: auto;
}

.select-toolbar .block-editor-block-mover:not(.is-horizontal) .block-editor-block-mover__move-button-container {
  flex-direction: unset;
}

.select-toolbar .block-editor-block-contextual-toolbar {
  border: none;
  background: none;
}

.select-toolbar .block-editor-block-contextual-toolbar .block-editor-block-toolbar .components-toolbar-group {
  border-color: #e0e0e0;
}

.select-toolbar .block-editor-block-mover:not(.is-horizontal) .block-editor-block-mover__move-button-container .block-editor-block-mover-button.is-down-button svg {
  bottom: unset;
}

.select-toolbar .block-editor-block-mover:not(.is-horizontal) .block-editor-block-mover__move-button-container .block-editor-block-mover-button.is-up-button svg {
  top: unset;
}
