html {
	background: var(--wp-components-color-background);
	color: var(--wp-components-color-foreground);
}

body {
	background: transparent;
	max-width: 600px;
	margin: 100px auto;
	/* To do: add serif option */
	font-family: Hoefler Text;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 18px;
	padding: 1px 1em;
}

/* Disable scrollbars, there's a glitch in Safari with the content animation. */
* {
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

a {
	color: var(--wp-components-color-accent);
}

[data-type="core/checklist"] {
	/* padding-left: 0; */
}

[data-type="core/checklist-item"] {
	margin-top: 5px;
}

[data-type="core/checklist-item"] .components-checkbox-control__input[type=checkbox]:indeterminate {
	filter: grayscale(1);
}

[data-type="core/checklist-item"] .components-checkbox-control__input[type=checkbox]:indeterminate + svg {
	filter: grayscale(1);
}

[data-type="core/checklist-item"] > .components-checkbox-control {
	position: absolute;
    transform: translate(-100%);
	top: 0;
}