:root {
    --wp-admin-theme-color: #3858e9;
    --wp-admin-theme-color--rgb: 56, 88, 233;
    --wp-admin-theme-color-darker-10: #2145e6;
    --wp-admin-theme-color-darker-10--rgb: 33, 69, 230;
    --wp-admin-theme-color-darker-20: #183ad6;
    --wp-admin-theme-color-darker-20--rgb: 24, 58, 214;
    --wp-admin-border-width-focus: 2px;

    --wp-components-color-accent: #3858e9;
    --wp-components-color-accent-darker-10: #2145e6;
    --wp-components-color-accent-darker-20: #183ad6;
    --wp-components-color-accent-inverted: #fff;
    --wp-components-color-background: #fff;
    --wp-components-color-background-inverted: #1e1e1e;
    --wp-components-color-foreground: #1e1e1e;
    --wp-components-color-foreground-inverted: #fff;

    --wp-components-color-gray-100: #f0f0f0;

    --blocknotes-border-color: #e0e0e0;
}